<!-- <% provide(:title, @user.name) %> -->
<!-- <%= @user.name %>, <%= @user.email %> -->

<center>
<h1>
  <%= gravatar_for @user %><br><br>
  <strong>Name: </strong><%= @user.name %><br><br>
  <strong>Email: </strong><%= @user.email %> <br><br>
  <strong>Position:</strong> <%= @user.position %><br><br>
  <strong>Hometown: </strong><%= @user.hometown %><br><br>
  <strong>Number: </strong><%= @user.number %><br><br>
  <strong>Team: </strong><%= @user.team.name %><br><br>
</h1>

<h3><%= link_to "Edit Profile", edit_user_path(current_user) %></h3>
</center>
